
.main {
    display: flex;
    font-size: 25px;
    align-items: flex-end;
    padding: 0 0 100px 50px;
    color: #fff;
}


.temperature {
    font-size: 140px;
}

.cityAndTime {
}

.city {
    font-size: 60px;
}

.image {
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 1000px) {
    .main {
        display: none;
    }
}